:root {
    --primary: #00baf2;
    --secondary: #f1f1f1;
    --text-color: #fff;
    --text-secondary: #000;
    --text-tertiary: #5d5d5d;
  }
  
  * {
    font-family: "Montserrat";
    margin: 0;
    padding: 0;
  }
  
  
  .header2 {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    padding: 3px, 10%;
    background-color: white;
}

.logo{
    top: 20%;
}

nav li{
display: inline-block;
list-style-type: none;
padding: 0px 60px;
}

a{
    font-size: 16px;
    font-weight: 500;
    color: dodgerblue;
    text-decoration: none;
    cursor: pointer;
}


button{
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    color: dodgerblue;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid dodgerblue;
    border-radius: 20px;
    padding: 9px 25px;
}
nav li a:hover{
    color: #fd5e53;
    transition: all 0.4s ease 0s;
}
button:hover{
    color: white;
    background: linear-gradient(180deg, #54C9FF 0%, #0C90D5 100%);
    transition: all 0.4s ease 0s;
}

  .btn {
    background-color: #0C90D5;
    color: var(--text-color);
    text-transform: uppercase;
    width: 100%;
    padding: 12px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
  }
  
  .btn:hover {
    opacity: 1;
  }
  
  /* Benefits section */
  #key-benefits h2 {
    color: #fff;
    font-weight: 700;
    background: linear-gradient(180deg, #54C9FF 0%, #0C90D5 100%);
    text-align: center;
    padding: 2em;
    font-weight: 500;
  }
  
  .benefits {
    display: flex;
    justify-content: space-around;
    padding: 4em;
    width: 80%;
    margin: 0 auto;
  }
  
  .benefit {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 20%;
    color: var(--text-tertiary);
  }
  
  .benefit .benefit-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-bottom: 1em;
  }
  
  #benefit-1 {
    background-image: url("/paginas/landingpage/img/anglo.png");
  }
  
  #benefit-2 {
    background-image: url("/paginas/landingpage/img/mackenzie.png");
  }
  
  #benefit-3 {
    background-image: url("/paginas/landingpage/img/etec.jpg");
  }
  
  .rectangle {
    height: 10px;
    width: 100%;
    background: linear-gradient(180deg, #54C9FF 0%, #0C90D5 100%);
  }

  /* Event details container */
  #details {
    width: 80%;
    margin: 0 auto;
  }
  
  .detail {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5%;
    margin-bottom: 4em;
  }
  
  .detail img {
    width: 50%;
  }
  
  .detail h3 {
    color: #00547a;
    margin-bottom: 1em;
    font-size: 2em;
    font-weight: 600;
  }
  
  #detail-1 h3 {
    font-size: 3em;
    font-weight: 700;
  }
  
  .detail-description {
    width: 100%;
    padding-left: 2em;
  }
  
  #detail-3 .detail-description {
    justify-self: flex-start;
  }
  
  .detail-description ul {
    list-style-position: inside;
  }
  
  .detail-description ul li {
    margin-bottom: 0.4em;
  }
  
  .detail-description ul li:last-child {
    font-weight: bold;
  }
  
  /* Call to Action Section */
  #cta {
    height: 300px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
      url("/paginas/landingpage/img/paiescola.jpeg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: var(--text-color);
  }
  
  #cta h3 {
    margin-bottom: 1.2em;
    font-size: 2em;
    font-weight: 500;
  }
  
  #cta .btn {
    width: 30%;
    margin: 0 auto;
    font-weight: 600;
    font-size: 1.2em;
  }
  
  /* Footer */
  #footer {
    text-align: center;
    color: #0C90D5;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  #footer h3 {
    font-size: 1.8em;
    margin-bottom: 0.5em;
  }
  
  #footer p:nth-child(2) {
    margin-bottom: 1em;
    font-size: 1.2em;
  }
  
  #footer span {
    font-weight: bold;
  }
  
  /* Mobile */
  @media (max-width: 450px) {
    /* Event form */
    #event-subscription {
      flex-direction: column;
      height: auto;
    }
  
    #disclaimer {
      padding: 2em;
    }
  
    #disclaimer h2 {
      margin-bottom: 0.5em;
    }
  
    #subscription-form {
      max-width: 70%;
      margin-bottom: 2em;
    }
  
    /* Benefits section */
    .benefits {
      flex-direction: column;
      align-items: center;
      width: auto;
      padding: 2em;
    }
  
    .benefit {
      max-width: 100%;
      margin-bottom: 2em;
    }
  
    /* Event location */
    #location {
      flex-direction: column;
      height: auto;
      text-align: center;
      padding: 2em 0;
    }
  
    #address {
      order: 2;
      flex-direction: column;
      max-width: 100%;
    }
  
    #address i {
      margin: 0.3em 0;
    }
  
    #about-location {
      order: 1;
      max-width: 100%;
    }
  
    #about-location h3 {
      margin-bottom: 0;
    }
  
    #about-location p {
      display: none;
    }
  
    /* Event details container */
    .detail {
      flex-direction: column;
      margin-bottom: 0.5em;
      gap: 0;
    }
  
    .detail img {
      width: 100%;
      margin: 2em 0;
    }
  
    #detail-1 img {
      display: none;
    }
  
    .detail-description {
      padding: 0;
    }
  
    #detail-3 img {
      order: 2;
    }
  
    #detail-3 .detail-description {
      order: 1;
    }
  
    /* Call to Action Section */
    #cta .btn {
      width: 80%;
    }
  }

  #vantagens{
    margin-bottom: 25px;
  }

  #rectangle{
    margin-bottom: 25px;
  }