@import url('http://fonts.cdnfonts.com/css/oleo-script');

body {
  font-family: "Karla", sans-serif;
  background: linear-gradient(to right, #0c8fd5, #54C9FF); 
  min-height: 100vh; }


  .brand-wrapper .logo {
  height: 150px;
  margin-bottom: 50px;
  

  /* margin-left: 30%;
  margin-bottom: 80px; */
  }

  .brand-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200;
  }

.login-card {
  width: 105%;
  border-radius: 100px;
  box-shadow: -20px 20px 8px rgba(0, 0, 0, 0.25);
  overflow: hidden; }
  .login-card-img {
    border-radius: 0;
    margin-top: 20%;
    margin-left: 15%;
    width: 90%;
    height: 90%;
    }

    .texto{
position: absolute;
margin-left: 20%;
margin-top: 15%;
font-family: 'Oleo Script', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 66px;
color: #0C90D5;
    }
.retangulo{
      position: absolute;
      margin-top: 2%;
      left: 49%;
      height: 670px;
      width: 8px;
    background: linear-gradient(180deg, #54C9FF 0%, #0C90D5 100%);
  
    transform: rotate(-180deg);
  
  }

  .login-card .card-body {
    margin-left: 100px;
    padding: 85px 60px 60px; }
    @media (max-width: 422px) {
  .login-card .card-body {
        padding: 35px 24px; } }
  .login-card-description {
    font-size: 25px;
    color: #000;
    font-weight: normal;
    margin-bottom: 23px; }
  .login-card form {
    margin-bottom: 10%;
    margin-left: 15%;
    width: 70%;
    max-width: 100%; }
  .login-card .form-control {
    border-radius: 10px;
    border: 2px solid #0c8fd5;
    padding: 15px 25px;
    margin-bottom: 20px;
    min-height: 45px;
    font-size: 13px;
    line-height: 15;
    font-weight: normal; }

    .select select {
      font-family: 'Poppins' sans-serif;
      font-weight: 30;
      font-size: 20px;
      width: 250px;
      height: 10%;
      margin-left: 15%;
      margin-bottom: 20px;
      cursor: pointer;
      padding: 10px 20px;
      outline: 0;
      border: 3px solid #0c90d5;
      border-radius: 54px;
      background: #ffffff;
      color: #000000;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
  }
      .select select::-ms-expand {
          display: none;
      }
      .select select:hover,
      .select select:focus {
          color: #000000;
          background: #ffffff;
      }
      .select select:disabled {
          opacity: 0.5;
          pointer-events: none;
      }
      .select_arrow {
        position: absolute;
        margin-top: -57px;
        margin-left: 37%;
        pointer-events: none;
        border-style: solid;
        border-width: 20px 10px 0px 10px;
        border-color: #0c90d5 transparent transparent transparent;
    }
    .select select:hover ~ .select_arrow,
    .select select:focus ~ .select_arrow {
        border-top-color: #0c90d5;
    }
    .select select:disabled ~ .select_arrow {
        border-top-color: #0c90d5;
    }

    .checkbox:checked {
      left: calc(100% - 19px - 3px);
    }
    
.checkbox{
      width: calc(25px - 6px);
      height: calc(25px - 6px);
      border-radius: 50%;
      left: 3px;
      top: 3px;
      background-color: #fff;
    }


  .login-card .login-btn {
    background:linear-gradient(to right, #0c8fd5, #54C9FF);
    background-color:#54c9ff;
    border-radius:40px;      
    margin-bottom: 24px;
    width: 250px;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-weight: bold;
    width: 250px;
    font-size:28px;
    padding:15px 39px;  }
    .login-card .login-btn:hover {
      background:linear-gradient(to bottom, #0c8fd5 5%, #54c9ff 100%);
        background-color:#0c8fd5;
    }   
  .login-card .forgot-password-link {
    font-size: 14px;
    color: black;
    margin-bottom: 12px; }
  .login-card-footer-text {
    font-size: 16px;
    color: #0c8fd5;
 }
    @media (max-width: 767px) {
      .login-card-footer-text {
        margin-bottom: 24px; } }

/*# sourceMappingURL=login.css.map */
